.signup-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.form-container {
    border: solid black;
    padding: 2rem;
    border-radius: 1rem;
}

.signup-title {
    text-align: center;
}